@import "../../main";

.content-page {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    max-height: 100vh;
}

.sidebar {
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 30rem;
    height: 100vh;
    background-color: $color-white;
    color: $color-grey-dark;
    border-right: 1px solid $color-grey-light ;

    &__header {
        height: 15rem;
        padding: 1.3rem;
    }

    &__search-field {
        display: block;
        margin: 1rem auto;
    }
}

.profile-link {
    font-size: 1.2rem;
    text-align: end;
    width: 100%;
    height: 30%;
    padding: 0.5rem;
}

.search-field {
    width: 30rem;
    height: 3rem;
    background-color: $color-grey-light;
    border: none;
    border-radius: 0.3rem;
    padding: 0 1rem;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url('../public/searchicon.png');
}

.chat-block__item {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    border-top: 1px solid $color-grey-light;

    &-avatar {
        width: 20%;
    }

    &:last-child {
        border-bottom: 1px solid $color-grey-light;
    }

    &-message {
        flex: 1 0 30px;
        width: 70%;
        padding-right: 1rem;

        &-text {
            padding-top: 0.5rem;
            overflow: hidden;
            max-height: 5vh;
            white-space:nowrap;
            text-overflow: ellipsis;
        }

    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.4rem;

        &-count {
            padding: 0.2rem;
            background-color: $color-blue-dark;
            border-radius: 50%;
            width: 1.7rem;
            height: 1.7rem;
            text-align: center;
            color: $color-white;
        }
    }
}

.avatar {
    border-radius: 50%;
    width: 4.3rem;
    height: 4.3rem;
    background-position: 1px 1px;
    background-repeat: no-repeat;
}

.profile-name {
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.chat-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        height: 7rem;
        border-bottom: 1px solid $color-grey-light;
        justify-content: space-between;

        &-info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin: 2rem;
        }

    }

    &__body {
        flex: 1 0;
        overflow-y: auto;
        margin-bottom: 6rem;

        &-message-wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 1rem 2rem;
        }

        &-message {
            display: inline-block;
            padding: 3rem;
            font-size: 1.3rem;
            max-width: 40rem;
            background-color: $color-grey-light;
            border-radius: 2rem;
            position: relative;
            word-break: break-word;

            &-time {
                position: absolute;
                bottom: 0;
                right: 1rem;
                padding: 1.1rem;
                color: $color-grey-dark;
                font-size: 1rem;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 7vh;
        border-top: 1px solid $color-grey-light;
        padding: 3rem;
        gap: 0.8rem;
        position:absolute;
        left: 0;
        bottom:0;
        width: 100%;
        &-input {
            flex: 1 0 0;
        }
    }
}

.main-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e9e9f8;
    padding: 5rem 10rem;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
}

.outcoming-message {
    justify-content: start;
}

.incoming-message {
    justify-content: end;
}

.message-input {
    background-color: $color-grey-light;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
}

.round-btn {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    border: none;
    border-radius: 50%;
    height: 2.8rem;
    width: 2.8rem;
}

.round-btn__blue {
    background-color: $color-blue-dark;
    color: $color-white;
}

.menu {
    width: 3rem;
    height: 3rem;
}
