@import "../../main";

.error-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;

  &__code {
    font-size: 13rem;
  }

  &__message {
    font-size: 4rem;
  }

  &__link, &:visited  {
    font-size: 2rem;
    text-decoration: none;
    color: $color-blue-dark;
  }

}
