$color-grey-light: #eee;
$color-grey-dark: #aba6a6;
$color-blue-dark: #646cff;
$color-white: #fff;
$color-red: #ef3535;
$default-font-size: 1.6rem;
$navbar-height: 50px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  box-sizing: border-box;
}

//#app {
//  max-height: 100vh;
//}

.u-center-text {
  text-align: center;
}

.u-margin-left {
  margin-left: 4rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 10rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 10rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 7rem;
  border: none;
  border-radius: 1rem;
}

.btn--small {
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
}

.btn--blue {
  background-color: $color-blue-dark;
  color: $color-white;
}

.btn--red {
  background-color: $color-red;
  color: $color-white;
}

.btn--white {
  color: $color-blue-dark;
  background-color: $color-white;
}



