$color-grey-light: #eee;
$color-grey-dark: #aba6a6;
$color-blue-dark: #646cff;
$color-white: #fff;
$color-red: #ef3535;
$default-font-size: 1.6rem;
$navbar-height: 50px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  box-sizing: border-box;
}

.u-margin {
  margin: 4rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-left {
  margin-left: 4rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 10rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 10rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 7rem;
  border: none;
  border-radius: 1rem;
}

.btn--unstyled {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
}

.btn--small {
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
}

.btn--blue {
  background-color: $color-blue-dark;
  color: $color-white;
}

.btn--red {
  background-color: $color-red;
  color: $color-white;
}

.btn--white {
  color: $color-blue-dark;
  background-color: $color-white;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;

  & li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  & li:hover {
    background-color: #f1f1f1;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.input--invisible[type="file"] {
  display: none;
}

.input--invisible[type="file"]::file-selector-button {
  display: none;
}





